<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestNgMavenExampleSuite" parallel="false">
	<parameter name="suite-param" value="suite level parameter" />
	<test name="Parameter Test one">
		<classes>
			<class name="javatestNGProject.TestNgMavenExampleTest">
				<methods>
					<include name="prameterTestOne" />
					<include name="oneMoreTest" />
				</methods>
			</class>
			<class name="javatestNGProject.RunSeleniumTests">
			</class>
		</classes>
	</test>
</suite>